<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dlmu.dao.FamilyAccountMapper">
    <resultMap id="familyAccountMap" type="cn.edu.dlmu.pojo.FamilyAccount">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <parameterMap id="accountParamMap" type="cn.edu.dlmu.pojo.Account">
        <parameter property="id" resultMap="id"/>
        <parameter property="familyId" resultMap="family_id"/>
        <parameter property="loginName" resultMap="login_name"/>
        <parameter property="name" resultMap="name"/>
        <parameter property="password" resultMap="pass_word"/>
        <parameter property="isAdmin" resultMap="is_admin"/>
        <parameter property="isSuperAccount" resultMap="is_super_account"/>
    </parameterMap>

<!---->
    <!--增加一个家庭*/-->
    <insert id="add" parameterType="FamilyAccount">
        insert into family_account
        values(null, #{name});
    </insert>

    <insert id="addAndReturnId" parameterType="FamilyAccount" statementType="CALLABLE">
        {call insert_family(#{id,mode=OUT,jdbcType=INTEGER},#{name,mode=IN})}
    </insert>

<!--    根据家庭id删除一个用户-->
    <delete id="delete" parameterType="Integer">
        delete from family_account
        where id=#{id};
    </delete>
<!---->
    <!--更新一个家庭信息-->
    <update id="update" parameterType="FamilyAccount">
        update family_account
        <set>
            <if test="name != null">
                name=#{name}
            </if>
        </set>
        where id=#{id};
    </update>
<!---->
    <!--根据家庭id查询家庭-->
    <select id="queryById" resultType="familyAccount" parameterType="Integer" resultMap="familyAccountMap">
        select * from family_account
        where id = #{id};
    </select>
<!---->
    <!--根据家庭名查询家庭-->
    <select id="queryByName" resultType="familyAccount" parameterType="String" resultMap="familyAccountMap">
        select * from family_account
        where name = #{name};
    </select>
    <!--查询所有家庭组-->
    <select id="queryAll" resultType="FamilyAccount" resultMap="familyAccountMap">
        SELECT *
        FROM family_account;
    </select>
<!---->

    <update id="deleteFamilyMember" parameterType="Integer">
        <if test="memberId != null">
        update account
        <set>
            family_id=null,
            is_super_account=0
        </set>
        where id=#{memberId}
        </if>
    </update>

    <update id="deleteFamilyMemberAll" parameterType="Integer">
        <if test="familyId != null">
            update account
            <set>
                family_id=null,
                is_super_account=0
            </set>
            where family_id=#{familyId}
        </if>
    </update>

    <update id="addFamilyMember" parameterType="Account" parameterMap="accountParamMap">
        <if test="id != null">
            update account
            <set>
                family_id=#{familyId}
                <if test="isSuperAccount != null"> ,is_super_account=#{isSuperAccount}</if>
            </set>
            where id=#{id}
        </if>
    </update>

</mapper>